
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="Website Design, Development, Maintenance & Powered by BitraNet Pvt. Ltd.," CONTENT="http://www.bitranet.com">

<title>CloudERP4 Modules for Office Automation Systems & Software Applications</title>

<meta name="description" content="">

<meta name="keywords" content="online office automation system, best office automation solution, web based office automation applications, what is office automation web erp module, small business office automation management">

<link rel="stylesheet" type="text/css" href="http://www.clouderp4.com/css/styles.css" />

<link rel="shortcut icon" href="http://www.clouderp4.com/images/favicon.ico" type="image/x-icon" />

<link rel="shortcut icon" href="http://www.clouderp4.com/images/favicon.ico" type="image/vnd.microsoft.icon" />

<link rel="favicon" href="http://www.clouderp4.com/images/favicon.ico" type="image/vnd.microsoft.icon" />

<link rel="icon" href="http://www.clouderp4.com/images/favicon.ico" type="image/x-icon" />

</head>



<script type="text/javascript" src="http://www.clouderp4.com/js/jquery-1.js"></script>

<script type="text/javascript" src="http://www.clouderp4.com/js/jcarousellite.js"></script>

<script type="text/javascript" src="http://www.clouderp4.com/js/loopedslider.js"></script>

<script type="text/javascript" src="http://www.clouderp4.com/js/jquery.pngFix.js"></script>

<script language="javascript" type="text/javascript" src="http://www.clouderp4.com/sms_script.js"></script>

<script type="text/javascript" charset="utf-8">



$(function(){

	$('#loopedSlider').loopedSlider();

	$(document).pngFix(); 

});



jQuery(function(){

$('.brandrotator').find('div.window')

.jCarouselLite({btnNext:'img.next',btnPrev:'img.prev',auto:3000,speed:1000,visible:6,scroll:3})

}

);





</script>



<script>

var myimages=new Array()

function preloadimages(){

for (i=0;i<preloadimages.arguments.length;i++){

myimages[i]=new Image()

myimages[i].src=preloadimages.arguments[i]

}

}

preloadimages("http://www.clouderp4.com/images/btn_demo-h.png","http://www.clouderp4.com/images/btn_rfq-h.gif")



</script>



<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-29269252-3']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>



 





<body>

    <table width="1120" border="0" cellpadding="0" cellspacing="0" align="center" class="p-bg">

      <tr>

        <td align="center" valign="top"><table width="1100" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">

          <tr>

            <td width="228" align="left" valign="middle"><img src="http://www.clouderp4.com/images/logo_clouderp4.png" alt="CloudERP4" title="CloudERP4" class="mb5"/></td>

            <td align="right" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">

              <tr>

                <td align="right" valign="middle"><table border="0" cellspacing="0" cellpadding="0">

                  <tr>

                    <td align="left"><table width="0%" border="0" cellspacing="0">

                      <tr>

                        <td width="35" align="left"><a href="ymsgr:sendIM?bitra"><img src="http://www.clouderp4.com/images/ymesen.png" title="Yahoo Messenger" alt="Yahoo Messenger" width="25" height="24" border="0" /></a></td>

                        <td width="35" align="left"><a href="msnmsgr:sendIM?bitra"><img src="http://www.clouderp4.com/images/msn.png" title="MSN Messenger" alt="MSN Messenger" width="28" height="26" border="0" /></a></td>

                        <td width="35" align="left"><a href="skype:bitranet?add"><img src="http://www.clouderp4.com/images/skp.png" alt="Skype" title="Skype" width="25" height="25" border="0" /></a></td>

                        <td width="35" align="left"><a href="gtalk:chat?jid=bitranet"><img src="http://www.clouderp4.com/images/gt.png" alt="gtalk"  title="google talk" width="28" height="26" border="0" /></a></td>

                        <td align="left"><a href="http://www.facebook.com/bitranet?ref=ffa" target="_blank"><img src="http://www.clouderp4.com/images/fb.png" alt="facebook" title="facebook" width="11" height="26" border="0" /></a></td>

                        <td width="35" align="right"><a href="https://twitter.com/BITRANET" target="_blank"><img src="http://www.clouderp4.com/images/twit.png" alt="follow us on twitter" title="follow us on twitter" width="28" height="26" border="0" /></a></td>
                      </tr>

                    </table></td>

                    <td width="20" rowspan="2" align="left">&nbsp;</td>

                    <td width="25" align="left"><img src="http://www.clouderp4.com/images/email.gif" alt="E-Mail" width="21" height="15" /></td>

                    <td align="left" class="grey-head2"><a href="mailto:info@clouderp4.com" title="E-mail">info@clouderp4.com</a></td>

                    <td width="20" rowspan="2" align="left">&nbsp;</td>

                    <td width="25" align="left"><img src="images/India.png" width="24" height="24" /></td>
                    <td align="left" class="grey-head2" title="Call Us">+91-98480-25046</td>
                  </tr>

                  <tr>

                    <td align="left">&nbsp;</td>

                    <td align="left">&nbsp;</td>

                    <td align="left" class="grey-head2"><a href="mailto:bitra@bitra.com" title="E-mail">bitra@bitra.com</a></td>

                    <td align="left"><img src="images/usa.png" width="24" height="24" /></td>
                    <td align="left" class="grey-head2" title="Call Us">+1-202-391-0099</td>
                  </tr>

                  

                </table></td>

                <td width="100" align="right" valign="top"><a href="http://www.clouderp4.com/html/contact-us.php"><img src="http://www.clouderp4.com/images/live_support.gif" alt="Live Support" width="80" height="80" border="0" /></a></td>

              </tr>

            </table><div class="menu">

              <ul class="menu1">

                <li class="top"><a href="http://www.clouderp4.com/html/company-profile.htm" class="top_link" title="About Us"><span class="down">About Us</span></a>

                          <!--[if gte IE 7]><!-->

                  

                        <!--<![endif]-->

                        <!--[if lte IE 6]><table><tr><td><![endif]-->

                        <ul class="sub">

                          <li><a href="http://www.clouderp4.com/html/company-profile.htm">Company Profile</a></li>

                          <li><a href="http://www.clouderp4.com/html/development-team.htm">Development Team</a></li>

                          <li><a href="http://www.clouderp4.com/html/security-and-privacy.htm">Security &amp; Privacy</a></li>

                          <li><a href="http://www.clouderp4.com/html/testimonials.htm">Testimonials</a></li>

                          <li><a href="http://www.clouderp4.com/html/contact-us.php">Contact Us</a></li>

                        </ul>

                  <!--[if lte IE 6]></td></tr></table></a><![endif]-->

                </li>

                <li class="top"><a href="http://www.clouderp4.com/html/cloud-erp-products.htm" class="top_link" title="Products"><span class="down">Products</span></a>

                          <!--[if gte IE 7]><!-->

                  

                        <!--<![endif]-->

                        <!--[if lte IE 6]><table><tr><td><![endif]-->

                        <ul class="sub">

<li><a href="http://www.clouderp4.com/office-automation-applications/office-automation-apps.htm">Office Automation Applications</a></li>

<li><a href="http://www.clouderp4.com/business-development-applications/business-development-apps.htm"> Business Development Apps</a></li>

<li><a href="http://www.clouderp4.com/hr-applications/hr-applications.htm">HR Applications</a></li>

<li><a href="http://www.clouderp4.com/educational-career-applications/educational-career-apps.htm">Education Applications</a></li>

<li><a href="http://www.clouderp4.com/educational-career-applications/educational-career-apps.htm">Career Applications</a></li>

<li><a href="http://www.clouderp4.com/general-applications/general-apps.htm">General Applications</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/industry-solutions.htm">Industry Solutions</a></li>

                        </ul>

                  <!--[if lte IE 6]></td></tr></table></a><![endif]-->

                </li>

                  <li class="top"><a href="http://www.clouderp4.com/industry-solutions/industry-solutions.htm" class="top_link" title="Industry Solutions"><span class="down">Industry Solutions</span></a> <!--[if gte IE 7]><!--><!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->

                                                <ul class="sub">

<li><a href="http://www.clouderp4.com/industry-solutions/it-industry.htm">IT Industry</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/employee-intranet-portal.htm">Employee Intranet Portal</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/training-institute.htm">Training Institute</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/staffing-consultancy.htm">Staffing & Consultancy</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/bpo-call-centers.htm">BPO & Call Centers</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/real-estate.htm">Real Estate</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/events-management.htm">Events Management</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/media-entertainment.htm">Media & Entertainment</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/retail-industry.htm">Retail Industry</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/schools-colleges.htm">Schools & Colleges</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/manufacturing-industry.htm">Manufacturing Industry</a></li>

<li><a href="http://www.clouderp4.com/industry-solutions/hospital-management.htm">Hospital Management</a></li>

                                        </ul> <!--[if lte IE 6]></td></tr></table></a><![endif]-->

                                                </li>                      

                <li class="top"><a href="http://www.clouderp4.com/html/features.htm" class="top_link" title="Features"><span>Features</span></a></li>

                <li class="top"><a href="http://www.clouderp4.com/html/clients.htm" class="top_link" title="Clients"><span>Clients</span></a></li>

                <li class="top"><a href="http://www.clouderp4.com/html/partners.php" class="top_link" title="Support"><span>Partners</span></a></li>

                <li class="top"><a href="http://www.clouderp4.com/html/support.htm" class="top_link" title="Support"><span>Support</span></a></li>

                <li class="top"><a href="http://www.clouderp4.com/html/demo-request.php" class="top_link" title="Demo Request"><span class="down">Demo Request</span></a>

                          <!--[if gte IE 7]><!-->

                  

                        <!--<![endif]-->

                        <!--[if lte IE 6]><table><tr><td><![endif]-->

                        <ul class="sub">

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">Office Automation Applications</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">Business Development Apps</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">HR Applications</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">Education Applications</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">Career Applications</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">General Applications</a></li>

                            <li><a href="http://www.clouderp4.com/html/demo-request.php">Industry Solutions</a></li>

                        </ul>

                  <!--[if lte IE 6]></td></tr></table></a><![endif]-->

                </li>

                <li class="top"><a href="http://www.clouderp4.com/html/contact-us.php" class="top_link" title="Contact Us"><span style="padding-right:0;">Contact Us</span></a></li>

              </ul>

            </div></td>

          </tr>

          

        </table></td>

      </tr>

      <tr>

        <td align="left" valign="top">

    <div id="loopedSlider">

      <div class="mbg-btns-wrap">

<div id="bnrbtn_pro" class="fl" align="center"><a href="http://www.clouderp4.com/html/cloud-erp-products.htm" title="Products"><span></span>Products</a></div>

<div id="bnrbtn_dm" class="fl" align="center"><a href="http://www.clouderp4.com/html/demo-request.php" title="Demo Request"><span></span>Demo Request</a></div>

<div id="bnrbtn_part" class="fl" align="center"><a href="http://www.clouderp4.com/html/partners.php" title="Partner With Us"><span></span>Partner With Us</a></div>

<div id="bnrbtn_rfq" class="fl" align="center"><a href="http://www.clouderp4.com/html/request-quote.php" title="Request for Quote"><span></span>Request for Quote</a></div>

      </div>

      <ul class="pagination">

        <li class="active"><a rel="1" href="#">1</a></li>

        <li class=""><a rel="2" href="#">2</a></li>

        <li class=""><a rel="3" href="#">3</a></li>

        <li class=""><a rel="4" href="#">4</a></li>

      </ul>

      <div class="container">

        <div class="slides">

          <div style="display:block;">

            <div id="banner_txt">

              <div class="writeup">Organize your client’s company information with contacts you<br/>

                work with... <span id="rlinks"><a href="http://www.clouderp4.com/office-automation-applications/client-management.htm">Read More</a></span></div>

            </div>

            <img src="http://www.clouderp4.com/images/mid-banner1.jpg" alt="" width="1120" height="270" /></div>

          <div style="display:none;">

            <div id="banner_txt">

              <div class="writeup">CloudERP4 lead management system maximizes your sales <br/>

                opportunities. It helps small and medium enterprises to do <br/>

                follow-up marketing efficiently... <span id="rlinks"><a href="http://www.clouderp4.com/business-development-applications/lead-management.htm">Read More</a></span></div>

            </div>

            <img src="http://www.clouderp4.com/images/mid-banner2.jpg" alt="" width="1120" height="270" /></div>

          <div style="display:none;">

            <div id="banner_txt">

              <div class="writeup">With CloudERP4's LMS you will get complete  information<br/>

                of your training programs... <span id="rlinks"><a href="http://www.clouderp4.com/educational-career-applications/learning-management.htm">Read More</a></span></div>

            </div>

            <img src="http://www.clouderp4.com/images/mid-banner3.jpg" alt="" width="1120" height="270" /></div>

          <div style="display:none;">

            <div id="banner_txt">

              <div class="writeup">Our Career management system helps in career planning, <br/>

                career development and automates the process of <br/>

                matching students with employers... <span id="rlinks"><a href="http://www.clouderp4.com/educational-career-applications/career-management.htm">Read More</a></span></div>

            </div>

            <img src="http://www.clouderp4.com/images/mid-banner4.jpg" alt="" width="1120" height="270" /></div>

        </div>

      </div>

      <!--end .container-->

    </div></td>

      </tr>

      <tr>

        <td align="left" valign="top"><div class="mid-cont-wrap">

<div id="cbox" class="fl" style="margin-right:5px;">

<div class="top">

<div id="pack_oa" align="center" class="mb10"><a href="http://www.clouderp4.com/office-automation-applications/office-automation-apps.htm"></a></div>

<div class="ml5"><img src="http://www.clouderp4.com/images/off-auto.jpg" alt="Office Automation Apps" width="26" height="26" class="fl"/><span class="grey-head" title="Office Automation Apps">Office Automation Apps</span></div>

<div id="cboxlinks"><ul>

<li style="background:url(http://www.clouderp4.com/images/off-em-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/employee-management.htm">Employee Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-tm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/task-management.htm">Task Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-cm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/client-management.htm">Client Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-vm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/vendor-management-system.htm">Vendor Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-blm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/billing-automation.htm">Billing Automation</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-sfb-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/office-soft-files-backup-system.htm">Office Soft Files Backup</a></li>

<li class="last" style="background:url(http://www.clouderp4.com/images/off-hm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/office-automation-applications/hardware-management-system.htm">Hardware Management</a>

<span style="margin-left:0px;"><a href="http://www.clouderp4.com/office-automation-applications/office-automation-apps.htm">MORE</a></span></li>

        </ul>

      </div>

</div>

<div class="bottom"></div>

</div> 

<div id="cbox" class="fl" style="margin-right:5px;">

<div class="top">

<div id="pack_bd" class="mb10" align="center"><a href="http://www.clouderp4.com/business-development-applications/business-development-apps.htm"></a></div>

<div class="ml5"><img src="http://www.clouderp4.com/images/bdm.jpg" alt="Business Dev Apps" width="26" height="26" class="fl"/><span class="grey-head" title="Business Dev Apps">Business Dev Apps</span></div>

<div id="cboxlinks"><ul>

<li style="background:url(http://www.clouderp4.com/images/lm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/lead-management.htm">Lead Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/tcm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/tele-caller-management.htm">Tele Caller Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-blm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/billing-automation.htm">Billing Automation</a></li>

<li style="background:url(http://www.clouderp4.com/images/news-lett-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/newsletter-management.htm">Newsletter Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/off-contactm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/bulk-e-mail-management.htm">Bulk E-Mail Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/bulk-sms-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/bulk-sms-management.htm">Bulk SMS Management</a></li>

<li class="last" style="background:url(http://www.clouderp4.com/images/be.gif) no-repeat left top;"><a href="http://www.clouderp4.com/business-development-applications/contacts-management.htm">Contacts Management</a><span style="margin-left:10px;"><a href="http://www.clouderp4.com/business-development-applications/business-development-apps.htm">MORE</a></span></li>

        </ul>

      </div>

</div>

<div class="bottom"></div>

</div>

<div id="cbox" class="fl" style="margin-right:5px;">

<div class="top">

<div id="pack_hr" class="mb10" align="center"><a href="http://www.clouderp4.com/hr-applications/hr-applications.htm"></a></div>

<div class="ml5"><img src="http://www.clouderp4.com/images/career.jpg" alt="Career Apps" width="26" height="26" class="fl"/><span class="grey-head" title="General Apps">HR Applications</span></div>

<div id="cboxlinks"><ul>

		<li style="background:url(http://www.clouderp4.com/images/qt.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/career-management.htm">Career Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/career-management.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/contacts-management.htm">Contacts Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/off-contactm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/employee-management.htm">Employee Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/news-lett-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/time-sheet-management.htm">Time Sheet Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/hm_pay.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/payroll-management.htm">Payroll Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/rms.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/employee-intranet-portal.htm">Employee Intranet Portal</a></li>

        <li class="last" style="background:url(http://www.clouderp4.com/images/off-blm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/hr-applications/reports.htm">Reports</a><span style="margin-left:94px;"><a href="http://www.clouderp4.com/hr-applications/hr-applications.htm">MORE</a></span></li>

        </ul>

      </div>

</div>

<div class="bottom"></div>

</div> 

<div id="cbox" class="fl" style="margin-right:5px;">

<div class="top">

<div id="pack_ec" class="mb10" align="center"><a href="http://www.clouderp4.com/educational-career-applications/educational-career-apps.htm"></a></div>

<div class="ml5"><img src="http://www.clouderp4.com/images/edu.jpg" alt="Educational Apps" width="26" height="26" class="fl"/><span class="grey-head" title="Education & Career Apps">Edu & Career Apps</span></div>

<div id="cboxlinks"><ul>

<li style="background:url(http://www.clouderp4.com/images/lm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/lead-management.htm">Lead Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/tim.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/learning-management.htm">Learning Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/ovcm.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/overseas-education-consultants-management.htm">Overseas Edu  Consultancy </a></li>

<li style="background:url(http://www.clouderp4.com/images/lm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/career-management.htm">Career Management</a></li>

<li style="background:url(http://www.clouderp4.com/images/hm_er.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/applicant-tracking-system.htm">Applicant Tracking System</a></li>

<li style="background:url(http://www.clouderp4.com/images/ctms.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/time-sheet-management.htm">Time Sheet Management</a></li>

<li class="last" style="background:url(http://www.clouderp4.com/images/off-lib-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/educational-career-applications/office-library-management.htm">Library Management</a><span style="margin-left:7px;"><a href="http://www.clouderp4.com/educational-career-applications/educational-career-apps.htm">MORE</a></span></li>

        </ul>

      </div>

</div>

<div class="bottom"></div>

</div>

<div id="cbox" class="fl">

<div id="cbox" class="fl">

<div class="top">

<div id="pack_ga" class="mb10" align="center"><a href="http://www.clouderp4.com/general-applications/general-apps.htm"></a></div>

<div class="ml5"><img src="http://www.clouderp4.com/images/career.jpg" alt="Career Apps" width="26" height="26" class="fl"/><span class="grey-head" title="General Apps">General Applications</span></div>

<div id="cboxlinks"><ul>

		<li style="background:url(http://www.clouderp4.com/images/qt.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/online-membership-management.htm">Membership Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/career-management.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/affiliate-management.htm">Affiliate Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/off-em-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/employee-intranet-portal.htm">Employee Intranet Portal</a></li>

        <li style="background:url(http://www.clouderp4.com/images/off-contactm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/bulk-email-management.htm">Bulk E-Mail Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/bulk-sms-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/bulk-sms-management.htm">Bulk SMS Management</a></li>

        <li style="background:url(http://www.clouderp4.com/images/news-lett-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/newsletter-management.htm">Newsletter Management</a></li>

        <li class="last" style="background:url(http://www.clouderp4.com/images/off-blm-icon.gif) no-repeat left top;"><a href="http://www.clouderp4.com/general-applications/billing-automation.htm">Billing Automation</a><span style="margin-left:7px;"><a href="http://www.clouderp4.com/general-applications/general-apps.htm">MORE</a></span></li>

        </ul>

      </div>

</div>

<div class="bottom"></div>

</div>

<div class="bottom"></div>

</div>



	<div style="clear:both"></div>

  </div></td>

      </tr>

      <tr>

        <td align="left" valign="top"><div class="brandrotator" style="margin-bottom:15px;"> 

<img src="http://www.clouderp4.com/images/arrow-left.gif" alt="Previous Brands" class="prev" width="32" height="52" /> <img src="http://www.clouderp4.com/images/arrow-right.gif" alt="Next Brands" class="next" width="32" height="52" />

      <div style="visibility: visible; overflow: hidden; position: relative; margin:0 auto; " class="window">

        <ul style="margin:0pt; padding:0pt; position:relative; list-style-type:none; z-index:1; left:-1452px;">

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/1.gif" title="agile" width="150" height="75" alt="agile" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/8.gif" title="RitePros" alt="RitePros" width="150" height="75" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/3.gif" title="KMK Events" alt="KMK Events" width="150" height="75" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/4.gif" title="CtrlS" alt="CtrlS" width="150" height="75" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/2.gif" title="BitraNet" width="150" height="75" alt="BitraNet" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/6.gif" title="Prosper Overseas" alt="Prosper Overseas" width="150" height="75" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/7.gif" title="isilica" alt="isilica" width="150" height="75" /></a></li>

          <li style="overflow: hidden; float: left; width:150px; height:75px;"><a  href="http://www.clouderp4.com/html/clients.htm"><img src="http://www.clouderp4.com/images/clients/5.gif" title="ISItech Business School" alt="ISItech Business School" width="150" height="75" /></a></li>

        </ul>

      </div>

  </div></td>

      </tr>

      <tr>

        <td align="center" valign="top" id="footer-wrap"><table width="1100" border="0" cellspacing="0" cellpadding="0" class="footer_bg">

      <tr>

        <td width="230" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="mt10 mb10">

          <tr>

            <td height="30" align="left" class="fhbrdr"><div class="white-head">About Us </div></td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/company-profile.htm" class="wlinks">Company Profile</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/development-team.htm" class="wlinks">Development Team</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/security-and-privacy.htm" class="wlinks">Security & Privacy</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/testimonials.htm" class="wlinks">Testimonials</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/partners.php" class="wlinks">Partners</a></td>

          </tr>

        </table></td>

        <td class="f-divied">&nbsp;</td>

        <td width="230" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="mt10 mb10">

          <tr>

            <td height="30" align="left" class="fhbrdr"><div class="white-head">Resources</div></td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/cloud-erp-products.htm" class="wlinks">Products Summary</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/industry-solutions/industry-solutions.htm" class="wlinks">Industry Solutions</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/product-screenshots.php" class="wlinks">Product Screenshots</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/request-quote.php" class="wlinks">Request for Quote</a></td>

          </tr>

          <tr>

            <td align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="26" align="left"><a href="http://www.clouderp4.com/html/demo-request.php" class="wlinks">Demo Request</a></td>

          </tr>

        </table></td>

        <td class="f-divied">&nbsp;</td>

        <td width="353" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="mt10 mb10">

          <tr>

            <td height="30" align="left" class="fhbrdr"><div class="white-head">Contact Us</div></td>

          </tr>

          <tr>

            <td align="left" valign="top"><table cellpadding="0" cellspacing="0">

              <tr>

                <td width="53" height="26" class="wtxt"><strong>E-Mail </strong></td>

                <td width="20" align="center" class="wtxt">:</td>

                <td align="left" ><a href="mailto:info@clouderp4.com" class="wlinks">info@clouderp4.com</a></td>

                <td width="30" align="left" >&nbsp;</td>

                <td align="left"><a href="mailto:bitra@bitra.com" class="wlinks">bitra@bitra.com</a></td>

              </tr>

            </table></td>

          </tr>

          <tr>

            <td height="2" align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td align="left" valign="top"><table cellpadding="0" cellspacing="0">

              <tr>

                <td width="53" height="26" class="wtxt"><strong>Call</strong></td>

                <td width="20" align="center" class="wtxt">:</td>

                <td align="left" class="wtxt">+91-98480-25046</td>

                <td width="30" align="left" >&nbsp;</td>

                <td align="left" class="wtxt">+91-939-339-6699</td>

              </tr>

              <tr>

                <td height="26">&nbsp;</td>

                <td width="20" align="center">&nbsp;</td>

                <td align="left"  class="wtxt">+91-924-629-6699</td>

                <td width="10" align="left">&nbsp;</td>

                <td align="left"  class="wtxt">+1-202-391-0099</td>

              </tr>

            </table></td>

          </tr>

          <tr>

            <td height="2" align="left" class="f-divied-v">&nbsp;</td>

          </tr>

          <tr>

            <td height="45" align="center" valign="bottom"><table width="0%" border="0" cellspacing="0">

              <tr>

                <td width="35" align="left"><a href="http://www.facebook.com/bitranet?ref=ffa" target="_blank"><img src="http://www.clouderp4.com/images/facebook.gif" alt="facebook" title="facebook" width="28" height="26" border="0" /></a></td>

                <td width="35" align="left"><a href="https://twitter.com/BITRANET" target="_blank"><img src="http://www.clouderp4.com/images/twitter.gif" alt="follow us on twitter" title="follow us on twitter" width="28" height="26" border="0" /></a></td>

                <td width="35" align="left"><a href="http://www.linkedin.com/company/bitranet-pvt-ltd" target="_blank"> <img src="http://www.clouderp4.com/images/linkedin.gif" alt="linkedin" width="28" height="26" border="0" title="linkedin" /></a></td>

                <td width="35" align="left"><a href="ymsgr:sendIM?bitra"><img src="http://www.clouderp4.com/images/ymesen.png" title="Yahoo Messenger" alt="Yahoo Messenger" width="25" height="24" border="0" /></a></td>

                <td width="35" align="left"><a href="msnmsgr:sendIM?bitra"><img src="http://www.clouderp4.com/images/msn.png" title="MSN Messenger" alt="MSN Messenger" width="28" height="26" border="0" /></a></td>

                <td width="35" align="left"><a href="msnmsgr:sendIM?bitranet"><img src="http://www.clouderp4.com/images/skp.png" alt="Skype" title="Skype" width="25" height="25" border="0" /></a></td>

                <td align="left"><a href="gtalk:chat?jid=bitranet"><img src="http://www.clouderp4.com/images/gt.png" alt="gtalk"  title="google talk" width="28" height="26" border="0" /></a></td>

              </tr>

            </table></td>

          </tr>

        </table></td>

        <td class="f-divied">&nbsp;</td>

        <td width="210" align="right" valign="top"><div id="cbtnv_rfq" class="mt15"><a href="http://www.clouderp4.com/html/request-quote.php"></a></div>

            <div id="cbtnv_dm" class="mt15"><a href="http://www.clouderp4.com/html/demo-request.php"></a></div>

          <div id="cbtnv_pa" class="mt15"><a href="http://www.clouderp4.com/html/partners.php"></a></div></td>

      </tr>

      <tr>

        <td colspan="7" align="left" valign="bottom" class="f-divied-v">&nbsp;</td>

      </tr>

      <tr>

        <td height="40" colspan="7" align="left" valign="middle"><table width="100%" border="0" cellpadding="0" cellspacing="0">

          <tr>

            <td width="150" align="left" class="wtxt11">© 2012 CloudERP4.</td>

            <td align="center"><ul id="tlinks">

              <li><a href="http://forum.weberp4.com/" target="_blank" title="Forums">Forums</a></li>

              <li><a href="http://blog.weberp4.com/" target="_blank" title="Blog">Blog</a></li>

              <li><a href="http://www.clouderp4.com/html/faq.htm" title="FAQ">FAQ</a></li>

              <li><a href="http://www.clouderp4.com/html/security-and-privacy.htm">Security & Privacy</a></li>

            </ul></td>

            <td width="150" align="right" class="wtxt11">Powered By <a href="http://www.bitranet.com/" title="Website Design, Development, Maintenance &amp; Powered by BitraNet Pvt. Ltd.," target="_blank" class="wlinks"><strong>BitraNet</strong></a></td>

          </tr>

        </table></td>

      </tr>

    </table></td>

      </tr>

    </table>



<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-27180327-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>

</body>

</html>

