
<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Flux - Multipurpose HTML Template</title>

<!-- ////////////////////////////////// -->
<!-- //     Retina Bookmark Icon     // -->
<!-- ////////////////////////////////// -->
<link rel="apple-touch-icon-precomposed" href="apple-icon.png"/>

<!-- ////////////////////////////////// -->
<!-- //     Retina Bookmark Icon     // -->
<!-- ////////////////////////////////// -->
<link rel="apple-touch-icon-precomposed" href="apple-icon.png"/>

<!-- ////////////////////////////////// -->
<!-- //      Stylesheets Files       // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/media.css"/>
<link rel="stylesheet" href="css/revolution.css" media="screen"/>
<link rel="stylesheet" href="css/media-slideshow.css" media="screen"/>
<link rel="stylesheet" href="css/noscript.css" media="screen,all" id="noscript"/>

<!-- ////////////////////////////////// -->
<!-- //     Google Webfont Files     // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico"/>
<link rel="stylesheet" href="../../modifiedt/temp-7/css/font-awesome.css">

<!-- ////////////////////////////////// -->
<!-- //        Favicon Files         // -->
<!-- ////////////////////////////////// -->
<link rel="shortcut icon" href="images/favicon.ico"/>

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/jquery.easing-1.3.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="js/jquery.themepunch.plugins.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/mediaelement-and-player.min.js"></script>
<script src="js/jquery.fancybox.js?v=2.0.6"></script>
<script src="js/jquery.fancybox-media.js?v=1.0.3"></script>
<script src="js/jquery.donutchart.js"></script>
<script src="js/jflickrfeed.min.js"></script>
<script src="js/jquery.twitter.js"></script>
<script src="js/accordion-functions.js" ></script>
<script src="js/theme-functions.js"></script>
<script src="js/jquery.retina.js"></script>
<script>
$(document).ready(function() {
//Retina Image
$('img.retina').retina('@2x');

//Slideshow
$('.banner').revolution({
delay:9000,
startwidth:1040,
startheight:463,
onHoverStop:"off",						// Stop Banner Timet at Hover on Slide on/off

thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
thumbHeight:50,
thumbAmount:3,

hideThumbs:0,
navigationType:"bullet",				// bullet, thumb, none
navigationArrows:"none",				// nexttobullets, solo (old name verticalcentered), none

navigationStyle:"round-old",			// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


navigationHAlign:"center",				// Vertical Align top,center,bottom
navigationVAlign:"bottom",				// Horizontal Align left,center,right
navigationHOffset:-419,
navigationVOffset:72,

touchenabled:"on",						// Enable Swipe Function : on/off

stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


fullWidth:"on",

shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)
})

});
</script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
	<!-- header start here -->
	<header>
    
    	<!-- top info start here -->
    	<div id="top-info">
        	<div class="row">
            	<div class="twelve column">
                    <!-- logo start here -->
                    <div id="logo">
                        <a href="index.html" style="font-size:28px"><!-- <img src="images/logo.png" alt="main-logo" class="retina"/> -->MANSAI INC</a>
                    </div>           
                    <!-- logo end here -->
                    
                    <div id="top-socials">
                        <ul>                                
                            <li class="facebook-color"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter-color"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="dribbble-color"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="googleplus-color"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin-color"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- top info end here -->        
        
        <div id="mainmenu-wrapper">
            <div class="left-menu">
                    
                <!-- navigation start here -->
                <nav id="mainmenu">
                    <ul id="menu">
                        <li class="dropdown selected"><a href="index.html">Home</a><span class="desc-menu">It's our home</span>
                            <ul> 
                                <li><a href="index-layout2.html">home layout 2</a></li>
                                <li><a href="index-layout3.html">home layout 3</a></li>
                                <li><a href="index-layout4.html">home layout 4</a></li>
                                <li><a href="index-layout5.html">home layout 5</a></li>
                                <li><a href="index-layout6.html">home layout 6</a></li>
                                <li><a href="index-layout7.html">home layout 7</a></li>
                                <li><a href="index-layout8.html">home layout 8</a></li>
                            </ul>
                        </li>                                                   
                        <li class="dropdown"><a href="#">Elements</a><span class="desc-menu">Sample slogan</span>
                        	<ul> 
                                <li><a href="column.html">column</a></li>
                                <li><a href="tables.html">tables</a></li>
                                <li><a href="button-list.html">button &amp; list</a></li>
                                <li><a href="icons.html">icon list</a></li>
                                <li><a href="icon-use.html">icon use</a></li>
                                <li><a href="typography.html">typography</a></li>
                                <li><a href="note-promo.html">note &amp; promo box</a></li>
                                <li><a href="tab-accordion.html">tab &amp; accordion</a></li>
                                <li><a href="alert-progress.html">alert &amp; progress</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#">Pages</a><span class="desc-menu">Sample slogan</span>
                        	<ul> 
                                <li><a href="about.html">about us</a></li>
                                <li><a href="services.html">our services</a></li>
                                <li><a href="pricing-plan.html">pricing plan</a></li>
                                <li><a href="testimonials.html">client testimonials</a></li>
                                <li><a href="team.html">our team</a></li>
                                <li><a href="sitemap.html">flux sitemap</a></li>
                                <li><a href="faq.html">faq page</a></li>
                                <li><a href="404.html">404 error</a></li>
                            </ul>
                        </li> 
                        <li class="dropdown"><a href="#">Portfolio</a><span class="desc-menu">Sample slogan</span>
                            <ul> 
                                <li><a href="portfolio-2col.html">portfolio 2 column</a></li>
                                <li><a href="portfolio-3col.html">portfolio 3 column</a></li>
                                <li><a href="portfolio-4col.html">portfolio 4 column</a>
                                    <ul> 
                                        <li><a href="#">dropdown level 2</a></li>
                                        <li><a href="#">dropdown level 2</a></li>
                                        <li><a href="#">dropdown level 2</a>
                                            <ul> 
                                                <li><a href="#">dropdown level 3</a></li>
                                                <li><a href="#">dropdown level 3</a></li>
                                                <li><a href="#">dropdown level 3</a></li>    	
                                            </ul>
                                        </li>    	
                                    </ul>
                                </li>    	
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a><span class="desc-menu">Sample slogan</span></li>
                        <li><a href="contact.html">Contact</a><span class="desc-menu">Sample slogan</span></li>
                    </ul>
                </nav>
                <!-- navigation end here --> 
                    
            </div>
            
            <div class="right-menu" id="top-search">
                <a class="trigger" href="#"><i class="fa fa-search"></i></a>
                <div class="search-panel">
                    <ul>
                        <li>
                        <form id="search" action="#" method="get">
                            <fieldset class="search-fieldset">
                                <input type="text" id="search-form" value="type and hit enter" onBlur="if (this.value == ''){this.value = 'type and hit enter'; }" onFocus="if (this.value == 'type and hit enter') {this.value = ''; }" />
                            </fieldset>      						
                        </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                
    </header>
    <!-- header end here -->
    
    <!-- slideshow start here -->
    <section id="slideshow-container">
    	<div class="banner">            
        	
            <ul>      
                <!-- slide 1 -->
                <li data-transition="fade">
                	<img src="images/slideshow/transparent.png" alt="" style="background:#2980b9">
                    <div class="caption general_caption lfb" data-x="-432" data-y="190" data-speed="2000" data-endspeed="1000" data-start="300" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_bg1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="284" data-speed="2300" data-endspeed="1000" data-start="600" data-end="7800" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_bg2.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="294" data-speed="2600" data-endspeed="1000" data-start="900" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_bg3.png" alt=""></div>
                    <div class="caption general_caption pst_media12 lft"  data-x="58" data-y="119" data-speed="2200" data-endspeed="900" data-start="800" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h1 class="bold">hello... Welcome</h1></div>
                    <div class="caption general_caption pst_media lft"  data-x="58" data-y="175" data-speed="2200" data-endspeed="900" data-start="600" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack"><h2>MANSAI inc</h2></div>
                    <div class="caption randomrotate" data-x="58" data-y="242" data-speed="1200" data-start="700" data-end="8000" data-easing="easeOutExpo"><a class="button medium white">view details</a></div>
                    
                    <div class="caption general_caption lfb" data-x="593" data-y="5" data-speed="4000" data-endspeed="1000" data-start="100" data-end="8200" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="779" data-y="13" data-speed="4000" data-endspeed="1000" data-start="200" data-end="8100" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon2.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="887" data-y="158" data-speed="4000" data-endspeed="1000" data-start="300" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon3.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="795" data-y="293" data-speed="4000" data-endspeed="1000" data-start="600" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon4.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="585" data-y="300" data-speed="4000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon5.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="492" data-y="165" data-speed="4000" data-endspeed="1000" data-start="400" data-end="7800" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon6.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="683" data-y="167" data-speed="4000" data-endspeed="1000" data-start="500" data-end="7700" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="images/slideshow/sld1_icon7.png" alt=""></div>
    			</li>
                
                <!-- slide 2 -->
                <li data-transition="fade">
                	<img src="images/slideshow/transparent.png" alt="" style="background:#f39c12">
                    <div class="caption general_caption fade" data-x="-432" data-y="0" data-speed="2000" data-endspeed="1000" data-start="100" data-end="8700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld2_bg1.png" alt=""></div>
                    <div class="caption randomrotate" data-x="-43" data-y="0" data-speed="1200" data-start="200" data-end="7500" data-easing="easeOutExpo"><img src="images/slideshow/sld2_ornament1.png" alt=""></div>
                    <div class="caption randomrotate" data-x="244" data-y="0" data-speed="1200" data-start="400" data-end="7800" data-easing="easeOutExpo"><img src="images/slideshow/sld2_ornament2.png" alt=""></div>
                    <div class="caption randomrotate" data-x="580" data-y="0" data-speed="1200" data-start="400" data-end="7800" data-easing="easeOutExpo"><img src="images/slideshow/sld2_ornament3.png" alt=""></div>
                    <div class="caption randomrotate" data-x="915" data-y="0" data-speed="1200" data-start="200" data-end="7500" data-easing="easeOutExpo"><img src="images/slideshow/sld2_ornament4.png" alt=""></div>
                    
                    <div class="caption general_caption pst_media2 lft"  data-x="228" data-y="124" data-speed="2200" data-endspeed="900" data-start="600" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h1 class="bold btm-line">Begin with the end in mind</h1></div>
                    <div class="caption general_caption lfb"  data-x="227" data-y="214" data-speed="2200" data-endspeed="900" data-start="800" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><p class="lead text-center">Excepteur sint occaecat cupidatat nomi proident suntil inculpa officia<br/>deserunt mollit anime laborum architecto beato vitae dicta explit</p></div>
                </li>
                
                <!-- slide 3 -->
                <li data-transition="fade">
                	<img src="images/slideshow/transparent.png" alt="" style="background:#2ecc71">                    
                    <div class="caption pst_media13 randomrotate" data-x="319" data-y="24" data-speed="2200" data-start="300" data-easing="easeOutExpo"><img src="images/slideshow/sld3_ornament4.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-81" data-y="113" data-speed="2200" data-start="100" data-easing="easeOutExpo"><img src="images/slideshow/sld3_ornament5.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-3" data-y="52" data-speed="2200" data-start="600" data-easing="easeOutExpo"><img src="images/slideshow/sld3_ornament3.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-26" data-y="0" data-speed="2200" data-start="1200" data-easing="easeOutExpo"><img src="images/slideshow/sld3_ornament2.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="1" data-y="47" data-speed="2200" data-start="900" data-easing="easeOutExpo"><img src="images/slideshow/sld3_ornament1.png" alt=""></div>                    
                    
                    <div class="caption pst_media13 video_box fade" data-x="51" data-y="63" data-speed="900" data-start="800" data-easing="easeOutBack"><img src="images/slideshow/sld_videobg.png" alt=""></div>
                    <div class="caption pst_media13 video_box lfb" data-x="51" data-y="63" data-speed="900" data-start="500" data-easing="easeOutBack"><iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0"></iframe></div>
                    <div class="caption general_caption media_hide lfr fadeout"  data-x="577" data-y="80" data-speed="900" data-start="100" data-easing="easeOutBack"><h1 class="bold">Embed Some Video</h1></div>
                    <div class="caption general_caption lfr fadeout"  data-x="577" data-y="153" data-speed="800" data-start="1200" data-easing="easeOutBack">
                    	<p class="lead">Lorem ipsum dolor sitamet consectetur adipisit<br/>elit seddo eiusmod tempor incididunt ut labore<br/>dolore magna aliqua laboris nisiu aliquip mode</p>
                    </div>
                    <div class="caption general_caption media_hide lfb fadeout"  data-x="581" data-y="258" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="images/slideshow/sld3_img1.png" alt=""></div>
                    <div class="caption general_caption media_hide lfb fadeout"  data-x="771" data-y="257" data-speed="900" data-start="2200" data-easing="easeOutBack"><img src="images/slideshow/sld3_img2.png" alt=""></div>
                    <div class="caption general_caption pst_media3 lfb fadeout"  data-x="730" data-y="254" data-speed="900" data-start="1800" data-easing="easeOutBack"><h1 class="handwrite">or</h1></div>
                </li>
                
                <!-- slide 4 -->
                <li data-transition="fade">
                	<img src="images/slideshow/transparent.png" alt="" style="background:#e4e6e6">
                    <div class="caption general_caption lfb" data-x="-432" data-y="0" data-speed="2000" data-endspeed="1000" data-start="100" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld4_bg1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="520" data-y="28" data-speed="3000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld4_img1.png" alt=""></div>
                    <div class="caption general_caption pst_media14 lfl ltl"  data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack"><h1 class="bold blue-text">Build your success</h1></div>
                    <div class="caption general_caption lfl ltl "  data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
                    	<p class="lead-alt"><i class="icon-ok-sign"></i>Complete HTML5 pages for your business</p>
                    </div>
                    <div class="caption general_caption pst_media4 lfl ltl"  data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
                    	<p class="lead-alt"><i class="icon-ok-sign"></i>Powered by Revolution Slider ($15 value)</p>
                    </div>
                    <div class="caption general_caption pst_media5 lfl ltl"  data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
                    	<p class="lead-alt"><i class="icon-ok-sign"></i>Responsive and Retina display ready</p>
                    </div>
                </li>   
            </ul>
            <div class="tp-bannertimer tp-top"></div>
                
        </div>        
    </section>
    <!-- slideshow end here -->
    
    <!-- slide box start here -->
    <section id="slide-box">
    	<div class="row">
        	<div class="twelve column">                    	
                <div class="promo-box">
                    <div class="promo-text">
                    	<div class="flatborder left">                           
                            <i class="flat-file small"></i>
                        </div>
                        <h3>A fully responsive HTML template with flat &amp; clean design.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor consectetur</p>
                    </div>
                    <div class="promo-button green">
                        <a href="#"><h3>Get Started</h3><i style="font-size:26px; background:none;" class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>                                   
            </div>
        </div>    
    </section>
    <!-- slide box end here -->
      
    <!-- content section start here -->
    <section class="content-wrapper">
    	<div class="row">
        	<div class="twelve column smallmargin-top2">
            	<ul class="block-grid-nomargin three-up mobile-style">
                    <li>
                    	<div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-check medium"></i>
                            </div>    
                            <h3>Health Care</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>	
                    </li>
                    <li>
                    	<div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-ui medium"></i>
                            </div>    
                            <h3>Cloud Computing</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>	
                    </li>
                    <li>
                    	<div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-statistic medium"></i>
                            </div>    
                            <h3>Mobile Apps</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>	
                    </li>                            
                </ul>
            </div>
        </div>        
        
        <div class="row">        
        	<div class="twelve column smallmargin-bottom">
            	<h3 class="title-line"><span>Recent Projects</span></h3>
            </div>
            
            <div class="three column text-center mobile-two">            	
                <div class="shape">
                    <div class="overlay hexagon"></div>
                    <div class="teaser">                                                
                        <div class="teaser-preview-box">
                                
                            <div class="lightbox-item"> 
                                <img src="images/portfolio_thumb/p1.jpg" alt="" />
                                <div class="lightbox-item-overlay-content"> 
                                    <h6>Project Title</h6>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>		
                                    <a class="preview fancybox" href="images/portfolio_big/p1.jpg" data-fancybox-group="gallery" title="Some of project description here"><i class="fa fa-search"></i></a>
                                    <a class="permalink" href="portfolio-single.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>  
                                
                        </div>
                    </div>
                </div>
                <h5 class="smallmargin-bottom">Project Title</h5>
                <p>Some description here or anything</p>               
            </div>
            
            <div class="three column text-center mobile-two">            	
                <div class="shape">
                    <div class="overlay hexagon"></div>
                    <div class="teaser">                                                
                        <div class="teaser-preview-box">
                                
                            <div class="lightbox-item"> 
                                <img src="images/portfolio_thumb/p2.jpg" alt="" />
                                <div class="lightbox-item-overlay-content"> 
                                    <h6>Project Title</h6>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>		
                                    <a class="preview fancybox" href="images/portfolio_big/p2.jpg" data-fancybox-group="gallery" title="Some of project description here"><i class="fa fa-search"></i></a>
                                    <a class="permalink" href="portfolio-single.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>  
                                
                        </div>
                    </div>
                </div>
                <h5 class="smallmargin-bottom">Project Title</h5>
                <p>Some description here or anything</p>                
            </div>
            
            <div class="three column text-center mobile-two">            	
                <div class="shape">
                    <div class="overlay hexagon"></div>
                    <div class="teaser">                                                
                        <div class="teaser-preview-box">
                                
                            <div class="lightbox-item"> 
                                <img src="images/portfolio_thumb/p3.jpg" alt="" />
                                <div class="lightbox-item-overlay-content"> 
                                    <h6>Project Title</h6>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>		
                                    <a class="preview fancybox" href="images/portfolio_big/p3.jpg" data-fancybox-group="gallery" title="Some of project description here"><i class="fa fa-search"></i></a>
                                    <a class="permalink" href="portfolio-single.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>  
                                
                        </div>
                    </div>
                </div> 
                <h5 class="smallmargin-bottom">Project Title</h5>
                <p>Some description here or anything</p>               
            </div>
            
            <div class="three column text-center mobile-two">            	
                <div class="shape">
                    <div class="overlay hexagon"></div>
                    <div class="teaser">                                                
                        <div class="teaser-preview-box">
                                
                            <div class="lightbox-item"> 
                                <img src="images/portfolio_thumb/p4.jpg" alt="" />
                                <div class="lightbox-item-overlay-content"> 
                                    <h6>Project Title</h6>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>		
                                    <a class="preview fancybox" href="images/portfolio_big/p4.jpg" data-fancybox-group="gallery" title="Some of project description here"><i class="icon-search"></i></a>
                                    <a class="permalink" href="portfolio-single.html"><i class="icon-link"></i></a>
                                </div>
                            </div>  
                                
                        </div>
                    </div>
                </div>
                <h5 class="smallmargin-bottom">Project Title</h5>
                <p>Some description here or anything</p>                
            </div>
        </div>      
                 
    </section>
    <!-- content section end here -->
    
    <!-- bottom content start here -->
    <section id="bottom-content">
    
    	<div class="row">
        	<div class="twelve column text-center">
            	<h3>What is Going on at FLUX</h3>
                
                <ul class="block-grid-nomargin four-up">
                	<li class="bottom-fact with-border">
                    	<ul class="icon-fact">
                        	<li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="fa fa-book"></i></li>
                            <li><i class="icon-plus"></i></li>
                        </ul>
                        <h1>40,100+</h1>
                    	<p>Completed Projects</p>
                    </li>
                    
                    <li class="bottom-fact with-border">
                    	<ul class="icon-fact">
                        	<li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                           <li><i class="fa fa-dashboard"></i></li>
                            <li><i class="icon-plus"></i></li>
                        </ul>
                        <h1>220+</h1>
                    	<p>Professionals</p>
                    </li>
                    
                    <li class="bottom-fact with-border">
                    	<ul class="icon-fact">
                        	<li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="fa fa-money"></i></li>
                            <li><i class="icon-plus"></i></li>
                        </ul>
                        <h1>220,792+</h1>
                    	<p>Coding Experiments</p>
                    </li>
                    
                    <li class="bottom-fact">
                    	<ul class="icon-fact">
                        	<li><i class="fa fa-ambulance"></i></li>
                                                    	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>

                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>
                        	<li><i class="fa fa-ambulance"></i></li>

                            <li><i class="icon-plus"></i></li>
                        </ul>
                        <h1>8,492</h1>
                    	<p>Coffees Have Drink</p>
                    </li>
                </ul>
                
                <p>We want to be a part of your team - <a href="#" class="raquo">Learn more about our team <i class="icon-chevron-right"></i></a></p>
            </div>         
        </div>
        
    </section>
    <!-- bottom content end here -->
    
    <!-- footer start here -->
    <footer>   
        <div class="row">
        	<div class="nine column">
            	<h6>Contact Information</h6>
                <div class="say-hello">
                	<h4><a href="contact.html">Holla!</a></h4>
                </div>
                <ul class="footer-address no-bullet">
                	<li><i class="fa fa-home fa-2x"></i> 25 Silver Avenue. Jakarta, JKT, 12345. IND</li>
                    <li><i class="fa fa-phone fa-2x"></i> (621) 123 4567</li>
                    <li><i class="fa fa-envelope fa-2x"></i> <a href="mailto:mail@yourdomain.com">mail@yourdomain.com</a></li>
                </ul>
                
                <ul class="footer-link no-bullet">
                	<li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>		
            </div>
            
            <div class="three column">
            	<img src="images/logo.png" alt="" class="footer-logo retina" />
                <p>Temporibus autem quibusdam officiis debitis aut rerum necessitatibus saepe</p>
                <p>&copy; 2013 by Indonez. All Rights Reserved. </p>	
            </div>       
        </div>
    </footer>
    <!-- footer end here -->

<script>$('#noscript').remove();</script>
</body>
</html>