<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Masakini | Responsive Multi-Purpose HTML Template</title>

	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Stylesheets
================================================== -->
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/foundation.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css"/>
	<link rel="stylesheet" type="text/css" href="css/accordion.css">

	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" />
	<![endif]-->

<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="png/apple-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="png/apple-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="png/apple-114.png" />

<!-- Webfonts
================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Header wrap -->
<header id="header">
	<div class="row">
		<div class="twelve columns">
	
			<!-- Logo wrap -->
			<div class="four columns logo">
				<h1><a href="index.html"><img src="images/logo.png" alt=""/></a></h1>
			</div>
			<!-- Logo wrap -->

			<div class="eight columns">
			<!-- Contact wrap -->
				<ul class="top-contact">
					<li>
						<h5><span><img src="images/phone.png" alt=""/></span>Hotline</h5>
						<p>532 336 9978</p>
					</li>
					<li>
						<h5><span><img src="images/mail.png" alt=""/></span>Support</h5>
						<p>admin@domain.com</p>
					</li>
				</ul>
			<!-- Contact wrap -->
			</div>
		</div>
	</div>
</header>
<!-- Header wrap -->

<nav class="nav">
	<div class="row">
		<div class="twelve columns">
			<!--Menu section-->
			<div id="smoothmenu1" class="ddsmoothmenu">
				<ul>
					<li><a href="index.html">Home</a>
						<ul>
							<li><a href="index.html">Homepage 1</a></li>
							<li><a href="index-2.html">Homepage 2</a></li>
							<li><a href="index-3.html">Homepage 3</a></li>
							<li><a href="index-4.html">Homepage 4</a></li>
						</ul>
					</li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Graphic Design</a></li>
							<li><a href="#">Brand Identity</a></li>
							<li><a href="#">Illustration</a></li>
							<li><a href="#">Photography</a></li>
						</ul>
					</li>
					<li><a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio_3col.html">Portfolio 3 Col</a></li>
							<li><a href="portfolio_4col.html">Portfolio 4 Col</a></li>
							<li><a href="single_portfolio.html">Single portfolio</a></li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a>
						<ul>
							<li><a href="blog-post.html">Single Post</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!--Menu section-->
		</div>
	</div>
</nav>

<div class="space45"></div>

<!--Page title section-->
<div class="row">
	<div class="twelve columns">
		<div class="page-info">
			<ul class="breadcrumbs">  
				<li><a href="#">Home</a></li>  
				<li><a href="#">Page</a></li>  
				<li class="current-page"><a href="#">About Us</a></li>  
			</ul>  
			<em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit</em>
		</div>
	</div>
</div>
<!--Page title section-->

<div class="space60"></div>

<!-- Team info wrap -->
<div class="row">
	<section class="twelve columns no-padding">
		<div class="twelve columns">
			<h5 class="wrap-title"><span>Meet The Team</span></h5>
		</div>

		<div class="three columns about-content">
			<div class="about-img">
				<img src="demo/team/1_hr.jpg" alt="" class="a" />
				<img src="demo/team/1.jpg" alt="" class="b" />
			</div>

			<div class="about-info-title twelve columns no-padding">
				<ul>
					<li class="about-title"><a href="#">Stacey Ramona</a><span>Front-end Designer</span></li>
					<li><a class="about-link" href="#">link</a></li>
				</ul>
			</div>
			<p class="p20">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
			<div class="about-shadow-left"></div>
		</div>

		<div class="three columns about-content">
			<div class="about-img">
				<img src="demo/team/2_hr.jpg" alt="" class="a" />
				<img src="demo/team/2.jpg" alt="" class="b" />
			</div>
			
			<div class="about-info-title twelve columns no-padding">
				<ul>
					<li class="about-title"><a href="#">Stacey Ramona</a><span>Front-end Designer</span></li>
					<li><a class="about-link" href="#">link</a></li>
				</ul>
			</div>
			<p class="p20">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
			<div class="about-shadow-left"></div>
		</div>

		<div class="three columns about-content">
			<div class="about-img">
				<img src="demo/team/3_hr.jpg" alt="" class="a" />
				<img src="demo/team/3.jpg" alt="" class="b" />
			</div>
			<div class="about-info-title twelve columns no-padding">
				<ul>
					<li class="about-title"><a href="#">Stacey Ramona</a><span>Front-end Designer</span></li>
					<li><a class="about-link" href="#">link</a></li>
				</ul>
			</div>
			<p class="p20">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
			<div class="about-shadow-right"></div>
		</div>

		<div class="three columns about-content">
			<div class="about-img">
				<img src="demo/team/4_hr.jpg" alt="" class="a" />
				<img src="demo/team/4.jpg" alt="" class="b" />
			</div>
			<div class="about-info-title twelve columns no-padding">
				<ul>
					<li class="about-title"><a href="#">Stacey Ramona</a><span>Front-end Designer</span></li>
					<li><a class="about-link" href="#">link</a></li>
				</ul>
			</div>
			<p class="p20">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
			<div class="about-shadow-right"></div>
		</div>
	</section>
</div>
<!-- Team info wrap -->

<div class="space40"></div>

<div class="row">
	<section class="twelve columns no-padding">

		<!-- Skills wrap -->
		<div class="six columns">
			<h5 class="wrap-title"><span>Our Skill</span></h5>

			<div class="progress-bar blue">
				<p>Photoshop - 80%</p>
				<span style="width: 80%"></span>
			</div>

			<div class="progress-bar blue">
				<p>Illustrator - 90%</p>
				<span style="width: 90%"></span>
			</div>

			<div class="progress-bar blue">
				<p>HTML / CSS - 70%</p>
				<span style="width: 70%"></span>
			</div>

			<div class="progress-bar blue">
				<p>jQuery - 30%</p>
				<span style="width: 30%"></span>
			</div>

			<div class="progress-bar blue">
				<p>PHP - 50%</p>
				<span style="width: 50%"></span>
			</div>
		</div>
		<!-- Skills wrap -->

		<!-- Accordion wrap -->
		<div class="six columns">
			<h5 class="wrap-title"><span>Our Two Cent</span></h5>
			<div class="akordeon">
				<div class="akordeon-item">
					<div class="akordeon-item-head">
						<div class="akordeon-item-head-container">
							<div class="akordeon-heading">Our Features</div>
						</div>
					</div>
					<div class="akordeon-item-body">
						<div class="akordeon-item-content">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
						</div>
					</div>
				</div>

				<div class="akordeon-item">
					<div class="akordeon-item-head">
						<div class="akordeon-item-head-container">
							<div class="akordeon-heading">Our Vision</div>
						</div>
					</div>
					<div class="akordeon-item-body">
						<div class="akordeon-item-content">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
						</div>
					</div>
				</div>

				<div class="akordeon-item">
					<div class="akordeon-item-head">
						<div class="akordeon-item-head-container">
							<div class="akordeon-heading">Our History</div>
						</div>
					</div>
					<div class="akordeon-item-body">
						<div class="akordeon-item-content">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
						</div>
					</div>
				</div>

				<div class="akordeon-item">
					<div class="akordeon-item-head">
						<div class="akordeon-item-head-container">
							<div class="akordeon-heading">Our Media Partner</div>
						</div>
					</div>
					<div class="akordeon-item-body">
						<div class="akordeon-item-content">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Accordion wrap -->
	</section>
</div>

<div class="space40"></div>

<div class="row">
	<!-- Clients wrap -->
	<section class="twelve columns no-padding">
		<section class="twelve columns">
			<h5 class="wrap-title"><span>Our Clients</span></h5>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/1.png" alt=""/>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/2.png" alt=""/>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/3.png" alt=""/>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/4.png" alt=""/>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/5.png" alt=""/>
		</section>

		<section class="two columns clients-info">
			<img src="demo/clients/6.png" alt=""/>
		</section>
	</section>
	<!-- Clients wrap -->
</div>

<div class="space90"></div>

<!-- Footer wrap -->
<footer class="footer">
	<div class="row">
		<div class="twelve columns no-padding">

			<!-- Tweets wrap -->
			<div class="three columns footer-widget">
				<h4><span>Tweets</span></h4>
				<div id="tweets" class="tweet"></div>
			</div>

			<!-- Recent posts wrap -->
			<div class="three columns footer-widget">
				<h4><span>Recent Posts</span></h4>
				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
						<img src="demo/rposts/1.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Typi Non Habent Claritatem Insitam</h5>
						<div class="meta-info"><a href="#">15 Jan</a> , <a href="#">5 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/2.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Duis Autem Bel Eum Iiure Dolor in Hendrerit in Bulputate Velit</h5>
						<div class="meta-info"><a href="#">22 Jan</a> , <a href="#">24 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/3.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Claritas Est Etiam Processus Dynamicus</h5>
						<div class="meta-info"><a href="#">3 Feb</a> , <a href="#">0 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/4.jpg" alt=""/>
						</div>
					</a>
				<div class="rposts-info">
					<h5>Humanitatis Per Seacula Quarta Decima</h5>
					<div class="meta-info"><a href="#">12 Feb</a> , <a href="#">30 Comments</a></div>
				</div>
			</div>
		</div>

		<!-- Flickr wrap -->
		<div class="three columns footer-widget">
			<h4><span>Flickr</span></h4>
			<ul id="flickr" class="thumbs"></ul>
		</div>

		<!-- Contact and subscribe wrap -->
		<div class="three columns footer-widget">
			<h4><span>Contact</span></h4>
			<h5 class="footer-logo">Masa<span>Kini</span>.</h5>
			<ul class="footer-contact">
				<li class="space10">Avenue Streets 8210,<br>Snow Park,  NY 99210</li>
				<li>Phone : (01) 23 456 789</li>
				<li>Email : support@domain.com</li>
			</ul>

			<!--BEGIN subscribe -->
			<div id="subscribe">
				Subscribe to our newsletter
					<div id="subscribes">
						<form method="post" action="#">
							<input type="text" id="emailsub" name="email" value="example@domain.com" />
							<input type="submit" value="subscribe" id="submitButton" />
						</form>
					</div>
				</div>
				<!--END subscribe -->

				<ul class="social-networks">
					<li class="icon-facebook"><a href="#">Facebook</a></li>
					<li class="icon-twitter"><a href="#">Twitter</a></li>
					<li class="icon-dribbble"><a href="#">Dribbble</a></li>
					<li class="icon-linkedin"><a href="#">Linkedin</a></li>
					<li class="icon-flickr"><a href="#">Flickr</a></li>
					<li class="icon-skype"><a href="#">Skype</a></li>
				</ul>
			</div>
		</div>

		<a id="gotop" href="#top"><img src="images/backtotop.png" alt=""/></a>

		<div class="twelve columns copyright-wrap">
			<div class="six columns copy">
				<p>Copyright &copy; 2013 <a href="#">Masakini.</a></p>
			</div>

			<div class="six columns">
				<ul class="footer-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="subpage.html">FAQ</a></li>
					<li><a href="subpage.html">Sitemap</a></li>	
					<li><a href="mailto:someone@website.com">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Footer wrap -->

<!-- js files
================================================== -->
	<script type='text/javascript' src="js/jquery-1.7.2.min.js"></script>
	<script type='text/javascript' src="js/ddsmoothmenu.js"></script>
	<script type='text/javascript' src="js/jquery.mobilemenu.js"></script>
	<script type='text/javascript' src="js/main.js"></script>
	<script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
	<script type="text/javascript" src="js/jquery.akordeon.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.akordeon').akordeon();
		});
	</script>

	<script type='text/javascript'>
		$(document).ready(function(){
			$("img.a").hover(
			function() {
			$(this).stop().animate({"opacity": "0"}, "slow");
			},
			function() {
			$(this).stop().animate({"opacity": "1"}, "slow");
			});
		});
	</script>

</body>
</html>