<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Masakini | Responsive Multi-Purpose HTML Template</title>

	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Stylesheets
================================================== -->
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/foundation.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css"/>

<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="png/apple-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="png/apple-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="png/apple-114.png" />

<!-- Webfonts
================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<style type="text/css">
		ul.tabs-content > li {
			padding: 28px 28px 48px;
			background-size:100%;
			margin-bottom:-10px;
		}

		.tabs {margin: 0px 0px 20px !important;}
	</style>

</head>
<body>

<!-- Header wrap -->
<header id="header">
	<div class="row">
		<div class="twelve columns">
	
			<!-- Logo wrap -->
			<div class="four columns logo">
				<h1><a href="./index.html"><img src="images/logo.png" alt=""/></a></h1>
			</div>
			<!-- Logo wrap -->

			<div class="eight columns">
			<!-- Contact wrap -->
				<ul class="top-contact">
					<li>
						<h5><span><img src="images/phone.png" alt=""/></span>Hotline</h5>
						<p>532 336 9978</p>
					</li>
					<li>
						<h5><span><img src="images/mail.png" alt=""/></span>Support</h5>
						<p>admin@domain.com</p>
					</li>
				</ul>
			<!-- Contact wrap -->
			</div>
		</div>
	</div>
</header>
<!-- Header wrap -->

<nav class="nav">
	<div class="row">
		<div class="twelve columns">
			<!--Menu section-->
			<div id="smoothmenu1" class="ddsmoothmenu">
				<ul>
					<li><a href="./index.html">Home</a>
						<ul>
							<li><a href="./index.html">Homepage 1</a></li>
							<li><a href="./index-2.html">Homepage 2</a></li>
							<li><a href="./index-3.html">Homepage 3</a></li>
							<li><a href="./index-4.html">Homepage 4</a></li>
						</ul>
					</li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./services.html">Services</a>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Graphic Design</a></li>
							<li><a href="#">Brand Identity</a></li>
							<li><a href="#">Illustration</a></li>
							<li><a href="#">Photography</a></li>
						</ul>
					</li>
					<li><a href="#">Portfolio</a>
						<ul>
							<li><a href="./portfolio_3col.html">Portfolio 3 Col</a></li>
							<li><a href="./portfolio_4col.html">Portfolio 4 Col</a></li>
							<li><a href="./single_portfolio.html">Single portfolio</a></li>
						</ul>
					</li>
					<li><a href="./blog.html">Blog</a>
						<ul>
							<li><a href="./blog-post.html">Single Post</a></li>
						</ul>
					</li>
					<li><a href="./contact.html">Contact</a></li>
				</ul>
			</div>
			<!--Menu section-->
		</div>
	</div>
</nav>

<div class="space45"></div>

<!--Page title section-->
<div class="row">
	<div class="twelve columns">
		<div class="page-info">
			<ul class="breadcrumbs">  
				<li><a href="#">Home</a></li>  
				<li class="current-page"><a href="#">Blog</a></li>  
			</ul>  
			<em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit</em>
		</div>
	</div>
</div>
<!--Page title section-->

<div class="row">
	<div class="twelve columns no-padding">

		<!--Blog section-->
		<section class="eight columns">
			<article class="twelve columns no-padding blog-main">
				<div class="four columns blog-thumb">
					<img src="../demo/blog/6.jpg" alt=""/>
				</div>

				<div class="eight columns blog-excerpt">

					<header>
					<h3><a href="./blog-post.html">5 Tips for Freelancer and Client Relationship</a></h3>
					<div class="blog-meta">
						<span class="tags">Design, Tips, Article</span>
						<span class="author">John Doe</span>
						<span class="comments">53 Comments</span>
					</div>
					</header>				

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros zril delenit augue duis dolore te feugait nulla facilisi.</p>
					<a href="#">Read more &rarr;</a>

				</div>
			</article>

			<section class="twelve columns no-padding related-posts">
				<h5>Hot Posts</h5>
				<div class="three columns">
					<div class="rthumb">
						<img src="../demo/blog/1.jpg" alt=""/>
					</div>
					<h6><a href="./blog-post.html">5 Tips for Freelancer and Client Relationship</a></h6>
				</div>

				<div class="three columns">
					<div class="rthumb">
						<img src="../demo/blog/2.jpg" alt=""/>
					</div>
					<h6><a href="./blog-post.html">Last Day to Win 180 Photoshop Actions</a></h6>
				</div>

				<div class="three columns">
					<div class="rthumb">
						<img src="../demo/blog/7.jpg" alt=""/>
					</div>
					<h6><a href="./blog-post.html">What Designer Can Learn from Music?</a></h6>
				</div>

				<div class="three columns">
					<div class="rthumb">
						<img src="../demo/blog/8.jpg" alt=""/>
					</div>
					<h6><a href="./blog-post.html">5 Tips for Being More Creative</a></h6>
				</div>
			</section>

			<article class="twelve columns no-padding blog-main">
				<div class="four columns blog-thumb">
					<img src="../demo/blog/7.jpg" alt=""/>
				</div>

				<div class="eight columns blog-excerpt">

					<header>
					<h3><a href="./blog-post.html">Last Day to Win 180 Photoshop Actions</a></h3>
					<div class="blog-meta">
						<span class="tags">Design, Tips, Article</span>
						<span class="author">John Doe</span>
						<span class="comments">53 Comments</span>
					</div>				
					</header>

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros zril delenit augue duis dolore te feugait nulla facilisi.</p>
					<a href="#">Read more &rarr;</a>
	
				</div>
			</article >

			<article class="twelve columns no-padding blog-main nob">
				<div class="four columns blog-thumb">
					<img src="../demo/blog/8.jpg" alt=""/>
				</div>

				<div class="eight columns blog-excerpt">
						
					<header>
					<h3><a href="./blog-post.html">What Designer Can Learn from Music?</a></h3>
					<div class="blog-meta">
						<span class="tags">Design, Tips, Article</span>
						<span class="author">John Doe</span>
						<span class="comments">53 Comments</span>
					</div>				
					</header>
	
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros zril delenit augue duis dolore te feugait nulla facilisi.</p>
					<a href="#">Read more &rarr;</a>
				</div>
			</article>

			<div class="twelve columns page_nav">
				<ul>
					<li><a href="#">1</a></li>
					<li class="on"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>...</li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</section>
		<!--Blog section-->

		<!--Sidebar section-->
		<aside class="four columns sidebar">
			<div class="sidebar-widget">
				<form class="search" method="get" action="#">
					<input type="text" onblur="if(this.value=='')this.value='Search...';" onfocus="if(this.value=='Search...')this.value='';" value="Search..." name="s" />
				</form>
			</div>

			<div class="sidebar-widget">
				<h5 class="side-title"><span>Tabs Menu</span></h5>
				<dl class="tabs">
					<dd class="active"><a href="#simple1">Featured</a></dd>
					<dd><a href="#simple2">Recent</a></dd>
					<dd><a style="padding: 3px 12px;" href="#simple3"><img src="images/comments.png" alt=""/></a></dd>
				</dl>
		
				<ul class="tabs-content">
					<li class="active" id="simple1Tab">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
					</li>

					<li id="simple2Tab">
						<p>Duis lobortis massa vel ante ornare vel pretium tellus bibendum. Nulla gravida nisi et nisi vulputate quis tincidunt velit consequat. Vestibulum sollicitudin feugiat accumsan. Duis eu massa in tellus varius elementum sit amet et quam. Morbi sit amet nisl dui. Nulla tincidunt nisl a lorem lobortis sed dignissim dolor bibendum. Class aptent taciti sociosqu ad litora per conubia</p>
					</li>

					<li id="simple3Tab">
						<p>Sed porta neque a dolor condimentum hendrerit. Sed venenatis tellus et turpis viverra sollicitudin. Morbi commodo tincidunt turpis at rutrum enim tincidunt vel. Quisque tristique risus malesuada arcu commodo consequat. Nullam odio dui facilisis vitae dictum ut tincidunt a ante. Donec condimentum quam in orci viverra consequat tristique quam accumsan nulla.</p>
					</li>
				</ul>
			</div>

			<div class="sidebar-widget">
				<h5 class="side-title"><span>Post Category</span></h5>
				<ul class="category-list">
					<li><a href="#">Graphic</a></li>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Tips</a></li>
					<li><a href="#">Article</a></li>
					<li><a href="#">Personal</a></li>
				</ul>
			</div>

			<div class="sidebar-widget">
				<h5 class="side-title"><span>Popular Posts</span></h5>
				<div class="pposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/1.jpg" alt=""/>
						</div>
					</a>
					<div class="pposts-info">
						<h5>Typi Non Habent Claritatem Insitam</h5>
						<div class="meta-info"><a href="#">15 Jan</a> , <a href="#">5 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="pposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/2.jpg" alt=""/>
						</div>
					</a>
					<div class="pposts-info">
						<h5>Duis Autem Bel Eum Iiure Dolor in Hendrerit in Bulputate Velit</h5>
						<div class="meta-info"><a href="#">22 Jan</a> , <a href="#">24 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="pposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/3.jpg" alt=""/>
						</div>
					</a>
					<div class="pposts-info">
						<h5>Claritas Est Etiam Processus Dynamicus</h5>
						<div class="meta-info"><a href="#">3 Feb</a> , <a href="#">0 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="pposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/4.jpg" alt=""/>
						</div>
					</a>
					<div class="pposts-info">
						<h5>Humanitatis Per Seacula Quarta Decima</h5>
						<div class="meta-info"><a href="#">12 Feb</a> , <a href="#">30 Comments</a></div>
					</div>
				</div>
			</div>

			<div class="sidebar-widget">
				<h5 class="side-title"><span>Recent Comments</span></h5>
				<ul class="rcomments">
					<li>
						<p>Rhoma at <a href="#">5 Tips for Better Frelancer and Client Relationship</a></p>
						<em>Typi Non Habent Claritatem Insitam duis Autem Bel Eum liure Dolor in Hendrent in Bulputate Velit...</em>
					</li>

					<li>
						<p>Syahrini at <a href="#">The Secret to The Creativity</a></p>
						<em>Typi Non Habent Claritatem Insitam duis Autem Bel Eum liure Dolor in Hendrent in Bulputate Velit...</em>
					</li>

					<li>
						<p>Roy Suryo at <a href="#">100 Very Useful Tutorial of Web Design and Graphic Design in 2014</a></p>
						<em>Typi Non Habent Claritatem Insitam ...</em>
					</li>
				</ul>
			</div>
		</aside>
		<!--Sidebar section-->
	</div>
</div>

<div class="space90"></div>

<!-- Footer wrap -->
<footer class="footer">
	<div class="row">
		<div class="twelve columns no-padding">

			<!-- Tweets wrap -->
			<div class="three columns footer-widget">
				<h4><span>Tweets</span></h4>
				<div id="tweets" class="tweet"></div>
			</div>

			<!-- Recent posts wrap -->
			<div class="three columns footer-widget">
				<h4><span>Recent Posts</span></h4>
				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
						<img src="../demo/rposts/1.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Typi Non Habent Claritatem Insitam</h5>
						<div class="meta-info"><a href="#">15 Jan</a> , <a href="#">5 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/2.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Duis Autem Bel Eum Iiure Dolor in Hendrerit in Bulputate Velit</h5>
						<div class="meta-info"><a href="#">22 Jan</a> , <a href="#">24 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/3.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Claritas Est Etiam Processus Dynamicus</h5>
						<div class="meta-info"><a href="#">3 Feb</a> , <a href="#">0 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/4.jpg" alt=""/>
						</div>
					</a>
				<div class="rposts-info">
					<h5>Humanitatis Per Seacula Quarta Decima</h5>
					<div class="meta-info"><a href="#">12 Feb</a> , <a href="#">30 Comments</a></div>
				</div>
			</div>
		</div>

		<!-- Flickr wrap -->
		<div class="three columns footer-widget">
			<h4><span>Flickr</span></h4>
			<ul id="flickr" class="thumbs"></ul>
		</div>

		<!-- Contact and subscribe wrap -->
		<div class="three columns footer-widget">
			<h4><span>Contact</span></h4>
			<h5 class="footer-logo">Masa<span>Kini</span>.</h5>
			<ul class="footer-contact">
				<li class="space10">Avenue Streets 8210,<br>Snow Park,  NY 99210</li>
				<li>Phone : (01) 23 456 789</li>
				<li>Email : support@domain.com</li>
			</ul>

			<!--BEGIN subscribe -->
			<div id="subscribe">
				Subscribe to our newsletter
					<div id="subscribes">
						<form method="post" action="#">
							<input type="text" id="emailsub" name="email" value="example@domain.com" />
							<input type="submit" value="subscribe" id="submitButton" />
						</form>
					</div>
				</div>
				<!--END subscribe -->

				<ul class="social-networks">
					<li class="icon-facebook"><a href="#">Facebook</a></li>
					<li class="icon-twitter"><a href="#">Twitter</a></li>
					<li class="icon-dribbble"><a href="#">Dribbble</a></li>
					<li class="icon-linkedin"><a href="#">Linkedin</a></li>
					<li class="icon-flickr"><a href="#">Flickr</a></li>
					<li class="icon-skype"><a href="#">Skype</a></li>
				</ul>
			</div>
		</div>

		<a id="gotop" href="#top"><img src="images/backtotop.png" alt=""/></a>

		<div class="twelve columns copyright-wrap">
			<div class="six columns copy">
				<p>Copyright &copy; 2013 <a href="#">Masakini.</a></p>
			</div>

			<div class="six columns">
				<ul class="footer-nav">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./subpage.html">FAQ</a></li>
					<li><a href="./subpage.html">Sitemap</a></li>	
					<li><a href="mailto:someone@website.com">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Footer wrap -->

<!-- js files
================================================== -->
	<script type='text/javascript' src="js/jquery-1.7.2.min.js"></script>
	<script type='text/javascript' src="js/ddsmoothmenu.js"></script>
	<script type='text/javascript' src="js/jquery.mobilemenu.js"></script>
	<script type='text/javascript' src="js/main.js"></script>
	<script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/foundation.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/modernizr.foundation.js"></script>
	<script type="text/javascript" src="js/jquery.foundation.tabs.js"></script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>

</body>
</html>