
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<title>Masakini | Responsive Multi-Purpose HTML Template</title>

	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Stylesheets
================================================== -->
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/foundation.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css"/>
	<link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
	<link rel="stylesheet" type="text/css" href="css/prettyphoto.css">

	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" />
	<![endif]-->

<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="png/apple-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="png/apple-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="png/apple-114.png" />

<!-- Webfonts
================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>


</head>
<body>

<!-- Header wrap -->
<header id="header">
	<div class="row">
		<div class="twelve columns">
	
			<!-- Logo wrap -->
			<div class="four columns logo">
				<h1><a href="./index.html"><img src="png/logo.png"  width="90%" alt=""/></a></h1>
			</div>
			<!-- Logo wrap -->

			<div class="eight columns">
			<!-- Contact wrap -->
				<ul class="top-contact">
					<li>
						<h5><span><img src="images/phone.png" alt="" /></span>Hotline</h5>
						<p>532 336 9978</p>
					</li>
					<li>
						<h5><span><img src="images/mail.png" alt=""/></span>Support</h5>
						<p>admin@domain.com</p>
					</li>
				</ul>
			<!-- Contact wrap -->
			</div>
		</div>
	</div>
</header>
<!-- Header wrap -->

<nav class="nav">
	<div class="row">
		<div class="twelve columns">
			<!--Menu section-->
			<div id="smoothmenu1" class="ddsmoothmenu">
				<ul>
					<li><a href="./index.html">Home</a>
						<ul>
							<li><a href="./index.html">Homepage 1</a></li>
							<li><a href="./index-2.html">Homepage 2</a></li>
							<li><a href="./index-3.html">Homepage 3</a></li>
							<li><a href="./index-4.html">Homepage 4</a></li>
						</ul>
					</li>
					<li><a href="./about.html">About us</a></li>
					<li><a href="./services.html">Services</a>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Graphic Design</a></li>
							<li><a href="#">Brand Identity</a></li>
							<li><a href="#">Illustration</a></li>
							<li><a href="#">Photography</a></li>
						</ul>
					</li>
					<li><a href="#">Cloud Computing</a>
						<ul>
							<li><a href="./portfolio_3col.html">Portfolio 3 Col</a></li>
							<li><a href="./portfolio_4col.html">Portfolio 4 Col</a></li>
							<li><a href="./single_portfolio.html">Single portfolio</a></li>
						</ul>
					</li>
					<li><a href="./blog.html">Health Care</a>
						<ul>
							<li><a href="./blog-post.html">Single Post</a></li>
						</ul>
					</li>
					<li><a href="./contact.html">Mobile Apps</a></li>
					<li><a href="./contact.html">Contact</a></li>
				</ul>
			</div>
			<!--Menu section-->
		</div>
	</div>
</nav>

<!-- Slider wrap -->
<div class="row">
	<div class="slider">
		<div>
			<ul class="rslides" id="slider">
				<li><img src="demo/slider/1.jpg" alt=""></li>
				<li><img src="demo/slider/2.jpg" alt="" ></li>
				<li><img src="demo/slider/5.jpg" alt=""></li>
				<li><img src="demo/slider/6.jpg" alt=""></li>
			</ul>

			<!-- Slideshow Pager -->
			<ul id="slider-pager">
				<li>
					<a class="current" href="#1" data-ref="slider-id another-slider">
						<p>Superb Portfolio<span>Learn More &rarr;</span></p>
					</a>
				</li>
				<li>
					<a href="#2" data-ref="slider-id another-slider" title="Slide 2">
						<p>Health Care<span>Learn More &rarr;</span></p>
					</a>
				</li>
				<li>
					<a href="#3" data-ref="slider-id another-slider" title="Slide 3">
						<p>Cloud Computing<span>Learn More &rarr;</span></p>
					</a>
				</li>
				<li>
					<a href="#4" data-ref="slider-id another-slider" title="Slide 4">
						<p>Mobile Apps<span>Learn More &rarr;</span></p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Slider wrap -->

<div class="slider_shadow"></div>
<div class="space50"></div>

<!-- Services wrap -->
<div class="row">
	<section class="services-wrap">
		<section class="three columns services-content">
			<img class="ico" src="images/ico1.png" alt=""/>
			<h5>Graphic Design</h5>
			<p>Sed diam nonummy nibh euismod tincidunt ut laoreet aliquam volutpat.</p>
		</section>

		<section class="one columns sep">
			<img src="images/services-sep.png" alt=""/>
		</section>

		<section class="three columns services-content">
			<img class="ico" src="images/ico2.png" alt=""/>
			<h5>Web Design</h5>
			<p>Sed diam nonummy nibh euismod tincidunt ut laoreet aliquam volutpat.</p>
		</section>

		<section class="one columns sep">
			<img src="images/services-sep.png" alt=""/>
		</section>

		<section class="three columns services-content">
			<img class="ico" src="images/ico3.png" alt=""/>
			<h5>Brand Identity</h5>
			<p>Sed diam nonummy nibh euismod tincidunt ut laoreet aliquam volutpat.</p>
		</section>
	</section>
</div>
<!-- Services wrap -->

<div class="space70"></div>

<!-- Portfolio wrap -->
<div class="row">
	<section class="twelve columns no-padding">
		<div class="twelve columns ">
			<h5 class="wrap-title"><span>Recent Portfolio</span></h5>
		</div>

		<section class="three columns portfolio-content">
			<div class="thumb">
				<a href="demo/works/1.jpg" class="prettyPhoto">
					<img src="demo/works/1.jpg" alt=""/>
					<span class="portfolio-inner" ></span>
				</a>
			</div>
			<div class="meta twelve columns no-padding">
				<ul>
					<li class="like-info"><a href="#">255</a></li>
					<li class="views-info"><a href="#">15</a></li>
					<li><a class="portfolio-link" href="./single_portfolio.html">link</a></li>
				</ul>
			</div>
		</section>

		<section class="three columns portfolio-content">
			<div class="thumb">
				<a href="demo/works/2.jpg" class="prettyPhoto">
					<img src="demo/works/2.jpg" alt=""/>
					<span class="portfolio-inner" ></span>
				</a>
			</div>
			<div class="meta twelve columns no-padding">
				<ul>
					<li class="like-info"><a href="#">255</a></li>
					<li class="views-info"><a href="#">15</a></li>
					<li><a class="portfolio-link" href="./single_portfolio.html">link</a></li>
				</ul>
			</div>
		</section>

		<section class="three columns portfolio-content">
			<div class="thumb">
				<a href="demo/works/3.jpg" class="prettyPhoto">
					<img src="demo/works/3.jpg" alt=""/>
					<span class="portfolio-inner" ></span>
				</a>
			</div>
			<div class="meta twelve columns no-padding">
				<ul>
					<li class="like-info"><a href="#">255</a></li>
					<li class="views-info"><a href="#">15</a></li>
					<li><a class="portfolio-link" href="./single_portfolio.html">link</a></li>
				</ul>
			</div>
		</section>

		<section class="three columns portfolio-content">
			<div class="thumb">
				<a href="demo/works/4.jpg" class="prettyPhoto">
					<img src="demo/works/4.jpg" alt=""/>
					<span class="portfolio-inner" ></span>
				</a>
			</div>
			<div class="meta twelve columns no-padding">
				<ul>
					<li class="like-info"><a href="#">255</a></li>
					<li class="views-info"><a href="#">15</a></li>
					<li><a class="portfolio-link" href="./single_portfolio.html">link</a></li>
				</ul>
			</div>
		</section>
	</section>
</div>
<!-- Portfolio wrap -->

<div class="space50"></div>

<div class="row">
	<div class="twelve columns no-padding">
		<!-- Recent Blog post wrap -->
		<section class="six columns">
			<h5 class="wrap-title"><span>Recent Blog Posts</span></h5>
			<article class="twelve columns blog-content no-padding">
				<div class="six columns no-padding">
					<img src="demo/blog/1.jpg" alt=""/>
				</div>

				<div class="six columns blog-info">
					<header>
					<h5><a href="./blog-post.html">Some Words that Best Describes Your Post</a></h5>
					<ul class="post-meta">
						<li>Jan 13, 2013</li>
						<li>15 Comments</li>
					</ul>
					</header>
					<div class="clear"></div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					<div class="space15"></div>
					<a class="more" href="#">Read more &rarr;</a>
				</div>
			</article>


			<div class="twelve columns no-padding">
				<div class="space45"></div>
			</div>

			<article class="twelve columns blog-content no-padding">
				<div class="six columns no-padding">
					<img src="demo/blog/2.jpg" alt=""/>
				</div>
	
				<div class="six columns blog-info">
					<header>
					<h5><a href="blog-post.html">Some Words that Best Describes Your Post</a></h5>
					<ul class="post-meta">
						<li>Jan 13, 2013</li>
						<li>15 Comments</li>
					</ul>
					</header>
					<div class="clear"></div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					<div class="space15"></div>
					<a class="more" href="#">Read more &rarr;</a>
				</div>
			</article>
		</section>
		<!-- Recent Blog post wrap -->

		<section class="six columns resize30">
			<h5 class="wrap-title"><span>Testimonials</span></h5>
			<!-- Testimonial wrap -->
			<section class="twelve columns no-padding">
				<div class="six columns no-padding quote-img">
					<img src="demo/client.png" alt=""/>
				</div>

				<div class="six columns no-padding quote-info">
					<blockquote>Wow! Only one word that can describes these people : Amazing!</blockquote>
					<cite>John Doe - JohnBoutique</cite>
					<a class="quote-btn" href="#">See More</a>
					<div class="quote-shadow"></div>
				</div>
			</section>
			<!-- Testimonial wrap -->

			<!-- Horizontal tabs wrap -->
			<section class="twelve columns no-padding">
				<div class="space50"></div>
				<h5 class="wrap-title"><span>Tabs Menu</span></h5>
				<dl class="tabs">
					<dd class="active"><a href="#simple1">Tab1</a></dd>
					<dd><a href="#simple2">Tab2</a></dd>
					<dd><a href="#simple3">Tab3</a></dd>
				</dl>
	
				<ul class="tabs-content">
					<li class="active" id="simple1Tab">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
					</li>

					<li id="simple2Tab">
						<p>Duis lobortis massa vel ante ornare vel pretium tellus bibendum. Nulla gravida nisi et nisi vulputate quis tincidunt velit consequat. Vestibulum sollicitudin feugiat accumsan. Duis eu massa in tellus varius elementum sit amet et quam. Morbi sit amet nisl dui. Nulla tincidunt nisl a lorem lobortis sed dignissim dolor bibendum. Class aptent taciti sociosqu ad litora per conubia</p>
					</li>

					<li id="simple3Tab">
						<p>Sed porta neque a dolor condimentum hendrerit. Sed venenatis tellus et turpis viverra sollicitudin. Morbi commodo tincidunt turpis at rutrum enim tincidunt vel. Quisque tristique risus malesuada arcu commodo consequat. Nullam odio dui facilisis vitae dictum ut tincidunt a ante. Donec condimentum quam in orci viverra consequat tristique quam accumsan nulla.</p>
					</li>
				</ul>
			</section>
			<!-- Horizontal tabs wrap -->
		</section>
	</div>
</div>

<div class="space50"></div>

<div class="row">
	<!-- Clients wrap -->
	<section class="twelve columns no-padding">
		<div class="twelve columns">
			<h5 class="wrap-title"><span>Our Clients</span></h5>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/1.png" alt=""/>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/2.png" alt=""/>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/3.png" alt=""/>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/4.png" alt=""/>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/5.png" alt=""/>
		</div>

		<div class="two columns clients-info">
			<img src="demo/clients/6.png" alt=""/>
		</div>
	</section>
	<!-- Clients wrap -->
</div>

<div class="space90"></div>

<!-- Footer wrap -->
<footer class="footer">
	<div class="row">
		<div class="twelve columns no-padding">

			<!-- Tweets wrap -->
			<div class="three columns footer-widget">
				<h4><span>Tweets</span></h4>
				<div id="tweets" class="tweet"></div>
			</div>

			<!-- Recent posts wrap -->
			<div class="three columns footer-widget">
				<h4><span>Recent Posts</span></h4>
				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
						<img src="demo/rposts/1.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Typi Non Habent Claritatem Insitam</h5>
						<div class="meta-info"><a href="#">15 Jan</a> , <a href="#">5 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/2.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Duis Autem Bel Eum Iiure Dolor in Hendrerit in Bulputate Velit</h5>
						<div class="meta-info"><a href="#">22 Jan</a> , <a href="#">24 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/3.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Claritas Est Etiam Processus Dynamicus</h5>
						<div class="meta-info"><a href="#">3 Feb</a> , <a href="#">0 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="demo/rposts/4.jpg" alt=""/>
						</div>
					</a>
				<div class="rposts-info">
					<h5>Humanitatis Per Seacula Quarta Decima</h5>
					<div class="meta-info"><a href="#">12 Feb</a> , <a href="#">30 Comments</a></div>
				</div>
			</div>
		</div>

		<!-- Flickr wrap -->
		<div class="three columns footer-widget">
			<h4><span>Flickr</span></h4>
			<ul id="flickr" class="thumbs"></ul>
		</div>

		<!-- Contact and subscribe wrap -->
		<div class="three columns footer-widget">
			<h4><span>Contact</span></h4>
			<h5 class="footer-logo">Masa<span>Kini</span>.</h5>
			<ul class="footer-contact">
				<li class="space10">Avenue Streets 8210,<br>Snow Park,  NY 99210</li>
				<li>Phone : (01) 23 456 789</li>
				<li>Email : support@domain.com</li>
			</ul>

			<!--BEGIN subscribe -->
			<div id="subscribe">
				Subscribe to our newsletter
					<div id="subscribes">
						<form method="post" action="#">
							<input type="text" id="emailsub" name="email" value="example@domain.com" />
							<input type="submit" value="subscribe" id="submitButton" />
						</form>
					</div>
				</div>
				<!--END subscribe -->

				<ul class="social-networks">
					<li class="icon-facebook"><a href="#">Facebook</a></li>
					<li class="icon-twitter"><a href="#">Twitter</a></li>
					<li class="icon-dribbble"><a href="#">Dribbble</a></li>
					<li class="icon-linkedin"><a href="#">Linkedin</a></li>
					<li class="icon-flickr"><a href="#">Flickr</a></li>
					<li class="icon-skype"><a href="#">Skype</a></li>
				</ul>
			</div>
		</div>

		<a id="gotop" href="#top"><img src="images/backtotop.png" alt=""/></a>

		<div class="twelve columns copyright-wrap">
			<div class="six columns copy">
				<p>Copyright &copy; 2013 <a href="#">Masakini.</a></p>
			</div>

			<div class="six columns">
				<ul class="footer-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="subpage.html">FAQ</a></li>
					<li><a href="subpage.html">Sitemap</a></li>	
					<li><a href="mailto:someone@website.com">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Footer wrap -->

<!-- js files
================================================== -->
	<script type='text/javascript' src="js/jquery-1.7.2.min.js"></script>
	<script type='text/javascript' src="js/ddsmoothmenu.js"></script>
	<script type='text/javascript' src="js/jquery.mobilemenu.js"></script>
	<script type='text/javascript' src="js/main.js"></script>
	<script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/foundation.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/modernizr.foundation.js"></script>
	<script type="text/javascript" src="js/jquery.foundation.tabs.js"></script>
	<script type="text/javascript" src="js/responsiveslides.min.js"></script>
	<script>
	$(function () {
		$("#slider").responsiveSlides({
		manualControls: '#slider-pager',
		maxwidth: 976
		});
	});
	</script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
	<script type="text/javascript" src="js/jquery.prettyphoto.js"></script>
	<script type='text/javascript'>
	$(function(){
		$("a[class^='prettyPhoto']").prettyPhoto({theme:'pp_default'});
	});
	</script> 


</body>
</html>