<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Masakini | Responsive Multi-Purpose HTML Template</title>

	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Stylesheets
================================================== -->
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/foundation.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css"/>
	<link rel="stylesheet" type="text/css" href="css/coda-slider.css">
	<link rel="stylesheet" type="text/css" href="css/prettyphoto.css">

<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="png/apple-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="png/apple-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="png/apple-114.png" />

<!-- Webfonts
================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

<!-- Header wrap -->
<header id="header">
	<div class="row">
		<div class="twelve columns">
	
			<!-- Logo wrap -->
			<div class="four columns logo">
				<h1><a href="./index.html"><img src="images/logo.png" alt=""/></a></h1>
			</div>
			<!-- Logo wrap -->

			<div class="eight columns">
			<!-- Contact wrap -->
				<ul class="top-contact">
					<li>
						<h5><span><img src="images/phone.png" alt=""/></span>Hotline</h5>
						<p>532 336 9978</p>
					</li>
					<li>
						<h5><span><img src="images/mail.png" alt=""/></span>Support</h5>
						<p>admin@domain.com</p>
					</li>
				</ul>
			<!-- Contact wrap -->
			</div>
		</div>
	</div>
</header>
<!-- Header wrap -->

<nav class="nav">
	<div class="row">
		<div class="twelve columns">
			<!--Menu section-->
			<div id="smoothmenu1" class="ddsmoothmenu">
				<ul>
					<li><a href="./index.html">Home</a>
						<ul>
							<li><a href="./index.html">Homepage 1</a></li>
							<li><a href="./index-2.html">Homepage 2</a></li>
							<li><a href="./index-3.html">Homepage 3</a></li>
							<li><a href="./index-4.html">Homepage 4</a></li>
						</ul>
					</li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./services.html">Services</a>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Graphic Design</a></li>
							<li><a href="#">Brand Identity</a></li>
							<li><a href="#">Illustration</a></li>
							<li><a href="#">Photography</a></li>
						</ul>
					</li>
					<li><a href="#">Portfolio</a>
						<ul>
							<li><a href="./portfolio_3col.html">Portfolio 3 Col</a></li>
							<li><a href="./portfolio_4col.html">Portfolio 4 Col</a></li>
						</ul>
					</li>
					<li><a href="./blog.html">Blog</a>
						<ul>
							<li><a href="./blog-post.html">Single Post</a></li>
						</ul>
					</li>
					<li><a href="./contact.html">Contact</a></li>
				</ul>
			</div>
			<!--Menu section-->
		</div>
	</div>
</nav>

<div class="space45"></div>

<!--Page title section-->
<div class="row">
	<div class="twelve columns">
		<div class="page-info">
			<ul class="breadcrumbs">  
				<li><a href="#">Home</a></li>  
				<li><a href="#">Page</a></li>  
				<li class="current-page"><a href="#">Portfolio</a></li>  
			</ul>  
			<em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit</em>
		</div>
	</div>
</div>
<!--Page title section-->
<div class="space50"></div>

<div class="row">
	<section class="twelve columns no-padding">
		<div class="twelve columns">
			<h5 class="wrap-title"><span>Our Portfolios</span></h5>
		</div>

		<div class="twelve columns arrow">
			<div> 
				<a href="#" class="folio-prev">Prev</a>
				<a href="#" class="folio-next">Next</a>
			</div> 
		</div>

		<div class="filter-wrap">
			<!--Filter Wrap section-->
			<ul class="filter"> 
				<li class="all currents"><a href="#">All</a></li> 
				<li class="Web"><a href="#">Web Design</a></li> 
				<li class="graphic"><a href="#">Graphic Design</a></li> 
				<li class="brand"><a href="#">Brand Identity</a></li> 
			</ul>
			<!--Filter Wrap section-->
		</div>

		<div class="clear"></div>

		<!-- Portfolio Items -->
		<section>
		<ul class="portfolio"> 
			<li class="three columns" data-id="id-1" data-type="Web">
				<div class="portfolio_thumb">
					<a href="#"><img src="../demo/folio/1.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/1.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-2" data-type="graphic">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/2.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/2.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-3" data-type="brand">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/3.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/3.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-4" data-type="Web">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/4.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/4.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-5" data-type="graphic">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/5.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/5.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-6" data-type="brand">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/6.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/6.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-7" data-type="Web">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/7.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/7.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-8" data-type="graphic">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/8.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/8.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-9" data-type="brand">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/9.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/9.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li> 
	
			<li class="three columns" data-id="id-10" data-type="Web">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/10.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/10.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-11" data-type="graphic">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/11.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/11.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="three columns" data-id="id-12" data-type="brand">
				<div class="portfolio_thumb"><a href="#"><img src="../demo/folio/12.jpg" alt="" /></a>
					<div class="portfolio-info" >
						<div class="zoom-inner">
							<span class="title">Restaurant Web Design</span>
							<span class="overlay-sub">Duis autem vel eum iriure dolor in hendrerit in vulputa</span>
							<div class="folio-meta">
								<div class="like-info"><a href="#">255</a></div>
								<div class="views-info"><a href="#">15</a></div>
								<a href="./single_portfolio.html"><div class="single-link">link</div></a>
								<a href="../demo/folio/12.jpg" rel="prettyphoto"><div class="single-zoom">zoom</div></a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		</section>

		<div class="twelve columns page_nav">
			<ul>
				<li><a href="#">1</a></li>
				<li class="on"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li>...</li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</section>
</div>

<div class="space80"></div>

<!-- Footer wrap -->
<footer class="footer">
	<div class="row">
		<div class="twelve columns no-padding">

			<!-- Tweets wrap -->
			<div class="three columns footer-widget">
				<h4><span>Tweets</span></h4>
				<div id="tweets" class="tweet"></div>
			</div>

			<!-- Recent posts wrap -->
			<div class="three columns footer-widget">
				<h4><span>Recent Posts</span></h4>
				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
						<img src="../demo/rposts/1.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Typi Non Habent Claritatem Insitam</h5>
						<div class="meta-info"><a href="#">15 Jan</a> , <a href="#">5 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/2.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Duis Autem Bel Eum Iiure Dolor in Hendrerit in Bulputate Velit</h5>
						<div class="meta-info"><a href="#">22 Jan</a> , <a href="#">24 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/3.jpg" alt=""/>
						</div>
					</a>
					<div class="rposts-info">
						<h5>Claritas Est Etiam Processus Dynamicus</h5>
						<div class="meta-info"><a href="#">3 Feb</a> , <a href="#">0 Comments</a></div>
					</div>
				</div>

				<div class="clear"></div>

				<div class="rposts-content">
					<a href="#">
						<div class="thumb">
							<img src="../demo/rposts/4.jpg" alt=""/>
						</div>
					</a>
				<div class="rposts-info">
					<h5>Humanitatis Per Seacula Quarta Decima</h5>
					<div class="meta-info"><a href="#">12 Feb</a> , <a href="#">30 Comments</a></div>
				</div>
			</div>
		</div>

		<!-- Flickr wrap -->
		<div class="three columns footer-widget">
			<h4><span>Flickr</span></h4>
			<ul id="flickr" class="thumbs"></ul>
		</div>

		<!-- Contact and subscribe wrap -->
		<div class="three columns footer-widget">
			<h4><span>Contact</span></h4>
			<h5 class="footer-logo">Masa<span>Kini</span>.</h5>
			<ul class="footer-contact">
				<li class="space10">Avenue Streets 8210,<br>Snow Park,  NY 99210</li>
				<li>Phone : (01) 23 456 789</li>
				<li>Email : support@domain.com</li>
			</ul>

			<!--BEGIN subscribe -->
			<div id="subscribe">
				Subscribe to our newsletter
					<div id="subscribes">
						<form method="post" action="#">
							<input type="text" id="emailsub" name="email" value="example@domain.com" />
							<input type="submit" value="subscribe" id="submitButton" />
						</form>
					</div>
				</div>
				<!--END subscribe -->

				<ul class="social-networks">
					<li class="icon-facebook"><a href="#">Facebook</a></li>
					<li class="icon-twitter"><a href="#">Twitter</a></li>
					<li class="icon-dribbble"><a href="#">Dribbble</a></li>
					<li class="icon-linkedin"><a href="#">Linkedin</a></li>
					<li class="icon-flickr"><a href="#">Flickr</a></li>
					<li class="icon-skype"><a href="#">Skype</a></li>
				</ul>
			</div>
		</div>

		<a id="gotop" href="#top"><img src="images/backtotop.png" alt=""/></a>

		<div class="twelve columns copyright-wrap">
			<div class="six columns copy">
				<p>Copyright &copy; 2013 <a href="#">Masakini.</a></p>
			</div>

			<div class="six columns">
				<ul class="footer-nav">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./subpage.html">FAQ</a></li>
					<li><a href="./subpage.html">Sitemap</a></li>	
					<li><a href="mailto:someone@website.com">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Footer wrap -->

<!-- js files
================================================== -->
	<script type='text/javascript' src="js/jquery-1.7.2.min.js"></script>
	<script type='text/javascript' src="js/ddsmoothmenu.js"></script>
	<script type='text/javascript' src="js/jquery.mobilemenu.js"></script>
	<script type='text/javascript' src="js/main.js"></script>
	<script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.quicksand.js"></script> 
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
	<script type="text/javascript" src="js/jquery.prettyphoto.js"></script>



</body>
</html>